.container {
  width: 100%;
  height: 100%;
}

.card {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 4.5rem;
  margin: 0 auto;
  overflow: hidden;
  height: 98%;
  border-radius: 8px;
  width: calc(100% - 1.6rem);
  box-shadow: 0 4px 8px rgba(211, 211, 211, 0.915);
  background-color: beige;
}

.static,
.nope,
.like {
  grid-row: 1/3;
  animation-fill-mode: forwards;
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 9rem 4.5rem;
}

.like {
  animation: like 500ms;
}
.nope {
  animation: nope 500ms;
}
.retry {
  animation: retry 2s;
}

.nope .message,
.like .message {
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 0.8rem;
  padding: 1rem;
  position: absolute;
  transform: rotate(-10deg) translate(1rem, 2rem);
  z-index: 100;
  width: 10rem;
  height: 5rem;
}

.like .message {
  color: #3bc377;
  border: 4px solid #3bc377;
}
.like .message::after {
  content: "LIKE";
}

.nope .message {
  letter-spacing: 0.4rem;
  color: red;
  border: 4px solid red;
  content: "NOPE";
}

.nope .message::after {
  content: "NOPE";
}

.description {
  padding: 0.8rem;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2rem;
  /* justify-content: space-around; */
  align-items:center;
  grid-row: 2/3;
  height: 100%;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(48, 48, 48, 0) 100%);
}

.more-info-icon{
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/icons/others/info.svg");
}

.more-info-icon:hover{
  cursor: pointer;
}

.info{
  overflow:hidden;
  font-size: 0.9rem;
  /* text-overflow: ellipsis; */
  width: calc(100% - 3rem);
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.info p{
  margin: 0;
}

.name{
  margin: 0 0.4rem 0 0;
  font-size: 2rem;
  font-weight: 600;
}

.age{
  font-size: 1.2rem;
  font-weight: 400;
}

.recendly-active{
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.dot{
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #30e6a6;
  border-radius: 100%;
}

.buttons-background {
  position: absolute;
  bottom: 0;
  grid-row: 2/4;
  background-color: black;
  width: 100%;
  height: 4.6rem;
}

.buttons {
  position: relative;
  z-index: 100;
  grid-row: 2/3;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttons span {
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  border-radius: 100%;
  padding: 1.6rem;
}

.buttons span:hover {
  cursor: pointer;
}

#retry {
  border: 2px solid #cb9836ff;
  background-image: url("../assets/icons/match-icons/retry.svg");
}
#like {
  width: 4rem;
  height: 4rem;
  border: 2px solid #30e6a6;
  background-image: url("../assets/icons/match-icons/like.svg");
}
#star {
  border: 2px solid #2f8bcaff;
  background-image: url("../assets/icons/match-icons/star.svg");
}
#nope {
  width: 4rem;
  height: 4rem;
  border: 2px solid #e52269;
  background-image: url("../assets/icons/match-icons/nope.svg");
}
#boost {
  border: 2px solid #8152a1ff;
  background-image: url("../assets/icons/match-icons/boost.svg");
}
#retry {
  border: 2px solid #cb9836ff;
  background-image: url("../assets/icons/match-icons/retry.svg");
}

#retry:active,
#like:active,
#star:active,
#nope:active,
#boost:active {
  border: transparent 2px solid;
  background-size: cover;
}

#retry:active {
  background-image: url("../assets/icons/match-icons/retry-active.svg");
}

#like:active {
  background-image: url("../assets/icons/match-icons/like-active.svg");
}
#star:active {
  background-image: url("../assets/icons/match-icons/star-active.svg");
}

#nope:active {
  background-image: url("../assets/icons/match-icons/nope-active.svg");
}
#boost:active {
  background-image: url("../assets/icons/match-icons/boost-active.svg");
}

@keyframes retry {
  from {
    transform: rotate(-25deg) translate(100vw, 100vh);
  }
  to {
    transform: rotate(0deg) translate(0, 0);
  }
}
@keyframes like {
  to {
    transform: rotate(-25deg) translate(100vw, 100vh);
  }
}
@keyframes nope {
  to {
    transform: rotate(25deg) translate(-100vw, 100vh);
  }
}
